.streamlit-ml2/secrets.toml
.streamlit-ml2/
.env
__pycache__/**/*
data/raw/
data/processed/
data/raw/student_mental_health_burnout_1M.csv
models/
model/model_stress.pkl
model/model_stress2.pkl
model/model_stress3.pkl
model/scaler.pkl
model/scaler2.pkl
*.npy

testing_ml_flow/model_stress2.pkl
testing_ml_flow/model_stress3.pkl
testing_ml_flow/scaler2.pkl
testing_ml_flow/X_train2.npy
testing_ml_flow/y_train2.npy
testing_ml_flow/X_test2.npy
testing_ml_flow/y_test2.npy